* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #AAADC4;
    background-image: linear-gradient(to bottom, #AAADC4, #111218)
}

h2{
    display: block;
    margin-top: 25px;
}

a{
    color:#83ADAF
}

#header {
    background-image: url('assets/essa.avif');
    background-size:cover;
    background-position: 100%;
    padding: 60px 30px 40px 30px;
}

#title{
    line-height: 40px;
    font-weight: 300;
    font-size: 45px;
    margin-bottom: 40px;
    color:#6C839D;
    text-align: right;
    font-family: 'Titillium Web', sans-serif;
}

.indice{
    color:black;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-right: 10px;
}

ul.indice li a{
    color:black;
    border-radius: 7%;
}

.desc{
    font-family: 'Titillium Web', sans-serif;
}

.picture{
    border-radius: 100%;
    line-height: 100px;
  }

.description {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 60px;
    display: inline-block;
    margin-bottom: 80px;
    margin-left: 10px;
    line-height: 30px;
    width: 600px;
    color: #83ADAF;
    font-weight: bold;
  }

.description-testimonials {
    width: 30%;
    display: inline-block;
    margin-right: 20px;
    text-align: center;
  }

.description-name{
    line-height: 20px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
  }

div.description ul {
    list-style-type: none;
}