#header {
    background-image: url('assets/img.jpg');
    background-size: cover;
    background-position: 50% 25%;
    padding: 60px 30px 40px 30px;
}

#title{
    line-height: 40px;
    font-weight: 300;
    font-size: 45px;
    margin-bottom: 40px;
    color:#0a7e51;
    text-align: left;
}